.git
.git/
*/.bpmn/
bin/
﻿**/.settings/
**/.svn/
**/.classpath
**/.project
**/.idea
**/*.iml
dist/
**/target/
*.log
.DS_Store
.classpath
.project
.settings/
.svn/
*.sh
rsync.sh
#*.properties
**/dubbo-resolve.properties
pom.xml.versionsBackup
*.attach_pid5721
.idea
**/rebel.xml
